<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="csrf-token" content={Plug.CSRFProtection.get_csrf_token()} />
    <title>Alexandria Dev</title>
    <link rel="stylesheet" href="/assets/css/app.css" />
    <script defer phx-track-static type="text/javascript" src="/assets/app.js">
    </script>
  </head>
  <body>
    {@inner_content}
  </body>
</html>
